.action-sheet-group { overflow: auto; }

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9574CD;
$background-pale: #D1C4E9;

.background-pale {
  background-color: $background-pale;
}